<% include partials/header.ejs %>

    <!-- Main -->
<main>
    <div id="contact">
        <div id="contact-filler">
            <h1>Hello There!</h1>
            <p>To contact me driectly please enter the form below
            </p>
            <form>
                <div class="form-group">
                    <label for="nameLabel">Full Name</label>
                    <input type="text" class="form-control" id="nameLabel" placeholder="John Smith">
                </div>
                <div class="form-group">
                    <label for="companyLabel">Company Name</label>
                    <input type="text" class="form-control" id="companyLabel" placeholder="Toasted Technologies">
                </div>
                <div class="form-group">
                    <label for="emailLabel">Email address</label>
                    <input type="email" class="form-control" id="emailLabel" placeholder="John.Smith@ToastedTech.com">
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Send</button>
            </form>
        </div>
    </div>
</main>

    <% include partials/footer.ejs %>