
<% include partials/header.ejs %>

<!-- Main -->
<main>  
    <!-- Slide -->
    <div id="slide1">
        <div class="content">
            <div class="container-fluid">
                <h3 class="quotes">“Then the Grinch thought of something he hadn't before! What if Christmas, he thought, doesn't come from a store. What if Christmas...perhaps...means a little bit more!”</h3>
                <img src="/public/Images/dr-seuss.png" align="left" />
                <h4 class="author_name_gray">Dr. Seuss </h4>
            </div>
        </div>
    </div>
    <!-- EndOfSLide -->
    <!-- Slide -->
    <div id="slide2">
        <div class="content">
            <div class="container-fluid">
                <h3 class="quotes">“Then the Grinch thought of something he hadn't before! What if Christmas, he thought, doesn't come from a store. What if Christmas...perhaps...means a little bit more!”</h3>
                <img src="/public/Images/dr-seuss.png" align="left" />
                <h4 class="author_name_gray">Dr. Seuss </h4>
            </div>
        </div>
    </div>
    <!-- EndOfSLide -->
    <!-- Slide -->
    <div id="slide3">
        <div class="content">
            <div class="container-fluid">
                <h3 class="quotes">“Then the Grinch thought of something he hadn't before! What if Christmas, he thought, doesn't come from a store. What if Christmas...perhaps...means a little bit more!”</h3>
                <img src="/public/Images/dr-seuss.png" align="left" />
                <h4 class="author_name_gray">Dr. Seuss </h4>
            </div>
        </div>
    </div>
    <!-- EndOfSLide -->
    <!-- Slide -->
    <div id="slide4">
        <div class="content">
            <div class="container-fluid">
                <h3 class="quotes">“Then the Grinch thought of something he hadn't before! What if Christmas, he thought, doesn't come from a store. What if Christmas...perhaps...means a little bit more!”</h3>
                <img src="/public/Images/dr-seuss.png" align="left" />
                <h4 class="author_name_gray">Dr. Seuss </h4>
            </div>
        </div>
    </div>
    <!-- EndOfSLide -->
    <!-- Slide -->
    <div id="slide5">
        <div class="social-connect">

        </div>
    </div>
    <!-- EndOfSLide -->

</main>

<% include partials/footer.ejs %>