body{
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
  color: #00B7FF;
}

#header { 
	width: 90%;
    margin-left: 5%;
    margin-right: 5%;
	background: url('header.png'); 
	height: 80px; 	
	position: fixed;
	margin-top: 30px;
}

#nav { 
    width: 410px; 
    float: right; 
    margin-top: 20px;
}
    
#logo a { 
    color: #000000; 
    text-decoration: none; 
    float: left; 
    font-size: 30px; 
    margin-top: 20px; 
    color: #000000; 
    font-family:"Wellfleet"; 
    font-weight: bold;
    margin-left: 5%; 
}
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;	
}

#nav li{
	margin-top: 9px;	
	float: left;
	padding-left: 21px;
}

#nav li a { 
    color: #000000; 
    opacity:0.6; 
    font-size: 16px; 
    text-decoration: none; 
    font-family: 'Wellfleet'; 
    font-weight: bold;
}
#nav li a.active { 
    color: #000000; 
    opacity:1; 
    border-bottom: 2px solid #000000; 
}
#nav li a:hover { 
    color: #000000; 
    opacity:1;  
}

#contact{
	background:url('slide1.jpg') 50% 0 no-repeat fixed;
	height: 100%;
	background-size: cover;
    border-style: dotted;
    border-width: 1px;
}

#contact-filler{
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
    border-style: solid;
    border-width: 1px;
}

#slide1, #slide2{ 
    width: 100%;
}
#slide1{
	background:url('slide1.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 1000px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#slide2{
    background:url('slide2.jpg') 50% 0 no-repeat fixed;
	background-color: #fff;
	color: #333333;
	height: 1000px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
}

#slide3{
	background: url('slide3.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 1000px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#slide4{
    background:url('slide4.jpg') 50% 0 no-repeat fixed;
	background-color: #fff;
	color: #333333;
	height: 1000px;
	padding: 200px 0;
}

#slide5{
	background: url('slide5.jpg') 50% 0 no-repeat fixed;
	height: 1000px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}